@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }       
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content
    }
}

@mixin button {
    background-color: $button-color;
    color: $button-text-color;
    font-family: 'Avenir-Demi';
    border: none;
    border-radius: 5px;
}