//MOBILE STYLING

.video {
    &__list {
        padding: 0 1rem;
        min-width: 20rem;
        margin-top: 2.5rem;
        list-style-type: none;
        &::before {
            content: "NEXT VIDEO";
            font-size: 0.75rem;
            margin-bottom: 1.75rem;
            color: $label-text;
            font-family: 'Avenir-Demi'
        }
    }
    &__item {
        width: 100%;
        display: flex;
        padding: 0.75rem 0;
        &:first-child {
            padding-top: 2.5rem;
        }
        img {
            object-fit: cover;
            border-radius: 4px;
            width: 7.5rem;
            height: 4.37rem;
        }
    }
    &__item-text {
        width: 12.5rem;
        padding-left: 1rem;
        padding-top: 1px;
        h4 {
            margin: 0;
            padding-bottom: 1rem;
        }
        p {
            margin: 0;
        }
    }
}

//TABLET STYLING 
@include tablet {
    .video {
        &__list {
            padding: 0 1.5rem;
        }
        &__item-text {
            h4 {
                padding-bottom: 0.9rem;
            }
        }
    }
}

//DESKTOP STYLING
@include desktop {
    .video {
        &__list {
            padding: 2.5rem 0 1rem 1rem;
            margin: 0;
            border-left: 2px solid $text-field-border;
        }
        &__item {
            height: 7.5rem;
        }
        &__item-text {
            h4 {
                padding-bottom: 0.5rem;
            }
        }
    }
}