$button-color: #0095FF;
$cancel-text-color: #0065AD;
$button-text-color: #FFFFFF; 
$border-color-mobile: #0095FF;
$border-color-upload: #E1E1E1;
$paragraph-text: #323232;
$label-text: #AFAFAF;
$date-text: #AFAFAF;
$text-field-border: #E1E1E1;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;